.calc{
    height: 600px;
    width: 600px;
    background-color: #cbf3a4;
    margin-left: 366px;
}
#screen{
    height: 65px;
    width: 400px;
    margin-left: 88px;
    margin-top: 46px;
    pointer-events: none;
}
.row{
    margin-left: 125px;
    margin-top: 19px;
}
.Button{
    height: 52px;
    width: 80px;
    background: hotpink;
}
.buttn{
    margin-top: 55px;
}